@import "https://fonts.googleapis.com/css?family=Open+Sans";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.75em;
  font-size: 16px;
  background-color: rgb(53, 53, 53);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.simple-container {
  max-width: 675px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 20px;
}

.simple-print {
  fill: white;
  stroke: white;
}
.simple-print svg {
  height: 100%;
}

.simple-close {
  color: white;
  border-color: white;
}

.simple-ext-info {
  border-top: 1px solid #aaa;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 30px;
  line-height: 34px;
}

h2 {
  font-size: 20px;
  line-height: 25px;
}

h3 {
  font-size: 16px;
  line-height: 27px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
}

hr {
  height: 1px;
  background-color: #d8d8d8;
  border: none;
  width: 100%;
  margin: 0px;
}

a[href] {
  color: #1e8ad6;
}

a[href]:hover {
  color: #3ba0e6;
}

img {
  max-width: 100%;
}

li {
  line-height: 1.5em;
}

aside,
[class*="sidebar"],
[id*="sidebar"] {
  max-width: 90%;
  margin: 0 auto;
  border: 1px solid lightgrey;
  padding: 5px 15px;
}

@media (min-width: 1921px) {
  body {
    font-size: 18px;
  }
}

.float-container {
  padding: 5px;
}

.float-child {
  width: 50%;
  float: left;
  padding-left: 30px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.margin-bottom {
  margin-bottom: 0.7px;
}
